* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {font-size: 16px;font-family: "DM Sans", sans-serif;}
a {color: inherit}


#contact_modal {
    display: none;
}

.photograph-header .header{
    
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.photograph-header .profil {
    
    height : 200px;
}
.photograph-header .profil .name { 
    
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #D3573C;
}
.photograph-header .profil .city {    
    
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}
.photograph-header .profil .tagline {    
    
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin : 25px 0;

}

.photograph-header img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: scale(1);

}
.contact_button,
.send_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    

}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 2em;
    padding: 0 10px;;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form  #message {
   height: 170px;
   width: 645px;
   resize:none;
   font-size: 1.5em;
}


.error {
    font-size: 14px;
    margin-top: 0;
    
  }
.media {
    margin : 30px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
}

section .box {

    height: 300px;
    width: 350px;
    object-fit: cover;
}

/* ==================== Modal ==================== */

.modal .name {
    font-size: 64px;   
    
}


/* ==================== Bouton de tri  ==================== */

.media-dropdown {
    margin: 30px 100px 100px;
    display: flex;
    align-items: center;   
}

.media-dropdown label {
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
}

/* Style du bouton select */

.media-dropdown .custom-select {
    position: relative;
}
.media-dropdown .custom-select select {
    display:block;
}

.select-selected {
    background-color: #901C1C;
  }

.media-dropdown select {    
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px;
    margin :20px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: white;    
    width: 150px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;    
}
.header-media-dropdown > div {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.header-media-dropdown  .dropdown {
    
    position: absolute;       
    background-color: #901C1C;
    height: 150px;
    top: 5px;
    border-radius: 5px;      
}




/* La lightbox */
#lightbox {
    display: none;
    position: relative;
    width: 1600px;
    height: 1300px;
    margin: 0 auto;    
    border: 2px solid #95FFF9;
    ;
}
 .xmark {
    position: absolute;
    scale: 2;
    width: 42px;;
    height: 42px;
    top:70px;
    right:20px;
    color: #901C1C;   

}


.lightbox-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.img-container img {
height: 1120px;
width: 1100px;
border-radius: 5px;
object-fit: cover;
}
.img-container p {
    font-size: 24px;
    line-height: 31px;
    color:  #901C1C;

}
.lightbox-container i {
    margin: 0 50px;
    scale: 2;
    color: #901C1C;
}

